{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@controllers": "./src/controllers",
          "@models": "./src/models",
          "@utils": "./src/utils",
          "@middlewares": "./src/middlewares",
          "@database": "./src/database",
          "@exceptions": "./src/exceptions",
          "@entities": "./src/entities",
          "@repositories": "./src/repositories",
          "@services": "./src/services"
        }
      }
    ]
  ],
  "ignore": ["**/*.spec.ts"]
}
